html,
body {
	margin: 0px;
	padding: 0px;
}

div.wrap {
	margin: 0px auto 0px auto;
	width: 480px;
}

div.login-container {
	margin-top: 160px;
}

div.login-panel {
	padding: 30px;
	border: 1px solid #cacaca;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.5);
}

div.login-panel h2 {
	margin: 0px 0px 24px;
	font-size: 24px;
	font-weight: 400;
	text-align: center;
	color: #ffffff;
}

div.login-panel div.row {
	padding: 6px 0px;
}

div.login-panel div.row input.text {
	padding: 10px;
	width: 100%;
	height: 48px;
	box-sizing: border-box;
	border: 1px solid #f1f1f1;
	border-radius: 10px;
	outline: none;
	font-size: 18px;
	color: #888888;
}

div.login-panel div.row input.button {
	width: 100%;
	height: 60px;
	box-sizing: border-box;
	border: 1px solid #2dbe60;
	border-radius: 24px;
	background-color: #2dbe60;
	transition: opacity .2s ease;
	outline: none;
	font-size: 24px;
	color: #ffffff;
}

div.login-panel div.row input.button:hover {
	border: 1px solid #28a955;
	background-color: #28a955;
}