<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<title>系统主页</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"
	href="../static/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" th:href="@{/css/toast.style.min.css}"
	href="../static/css/toast.style.min.css" />
<script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/ajax.js}"></script>
<script type="text/javascript" th:src="@{/js/toast.script.js}"></script>
</head>
<body>
	<div>this is my page</div>
	<button id="exit">退出</button>
	<button id="userTest">获取用户的测试</button>
	<button id="toastTest">弹出测试测试</button>
	<button id="modalTest">模态框测试</button>
	<script type="text/javascript">var path = '/bysj'
	</script>
	<script type="text/javascript" th:src="@{/js/test.js}"></script>
</body>
</html>