<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>系统界面</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"
	href="../static/css/bootstrap.css" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/toast.style.min.css}"
	href="../static/css/toast.style.min.css" />
<script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/ajax.js}"></script>
<script type="text/javascript" th:src="@{/js/toast.script.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
<script type="text/javascript" th:src="@{/js/echarts.js}"></script>
</head>
<body>
	<div class="row"
		style="background-color:#337ab7;color:#E9C341;padding:5px;padding-left:30px;">
		<span style="font-style:italic">简星项目任务管理系统</span>
	</div>
	<div class="row" style="background-color:#337ab7;">
		<div class="col-md-6">
			<ul id="tabTop" class="nav nav-tabs nav-justified">
				<li id="test" class="active"><a href="#home" data-toggle="tab">首页</a></li>
				<li><a id="" href="#project" data-toggle="tab">项目</a></li>
				<li><a id="" href="#file" data-toggle="tab">文件</a></li>
				<li><a id="" href="#team" data-toggle="tab">组织</a></li>
			</ul>
		</div>
		<div class="col-md-3 pull-right">
			<!-- Single button -->
			<div class="btn-group">
				<button type="button" class="btn btn-primary dropdown-toggle"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
					style="border:0px">
					<span class="glyphicon glyphicon-user"> <span id="loginUser"></span>	</span> <span
						class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a href="#" data-toggle="modal" data-target="#infoModal">我的信息</a></li>
					<li><a href="#" data-toggle="modal" data-target="#updatePassModal">修改密码</a></li>
				</ul>
			</div>
			<button type="button" class="btn btn-primary" style="border:0px"
				id="exit">退出</button>
			<button id="about" type="button" class="btn btn-primary" style="border:0px">关于</button>
		</div>
	</div>
	<div class="tab-content">
		<div id="home" class="tab-pane active">
			<iframe id="" scrolling="no" allowtransparency="yes"
				style="frameborder:0; border:0; marginwidth:0; marginheight:0; width:100%;min-height:550px;"
				data-toggle="" src="/bysj/dashboard"></iframe>
		</div>
		<div id="project" class="tab-pane">
			<iframe id="" scrolling="no" allowtransparency="yes"
				style="frameborder:0; border:0; marginwidth:0; marginheight:0; width:100%;min-height:550px;"
				data-toggle="" src="/bysj/home"></iframe>
		</div>
		<div id="file" class="tab-pane">
			<iframe id="file_iframe" scrolling="no"
				allowtransparency="yes"
				style="frameborder:0; border:0; marginwidth:0; marginheight:0; width:100%; min-height:550px;"
				data-toggle="" src="/bysj/fileList"></iframe>
		</div>
		<div id="team" class="tab-pane">
			<iframe id="team_iframe" scrolling="no" allowtransparency="yes"
				style="frameborder:0; border:0; marginwidth:0; marginheight:0; width:100%; min-height:550px;"
				data-toggle="" src="/bysj/dashboard"></iframe>
		</div>
	</div>
	
	<!-- 我的信息模态框（Modal） -->
	<div class="modal fade" id="infoModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">我的信息</h4>
				</div>
				<div class="modal-body">
					<div class="form-group row">
						<label class="col-sm-3 control-label text-right">账户名:</label>
						<div class="col-sm-8">
							<input type="text" placeholder="请输入账户名" class="form-control"
								name="username" id="username" />
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-3 control-label text-right">密码:</label>
						<div class="col-sm-8">
							<input class="form-control" type="password" name="password"
								id="password" placeholder="请输入密码..." />
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-3 control-label text-right">用户类型:</label>
						<div class="col-sm-8">
							<select name="userRole"
								class="form-control w-lg m-r-xs pull-left">
								<option value="2">员工</option>
								<option value="1">经理</option>
							</select>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭
					</button>
					<button id="sumbit" type="button" class="btn btn-primary">提交</button>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 修改密码模态框（Modal） -->
	<div class="modal fade" id="updatePassModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">修改密码</h4>
				</div>
				<div class="modal-body">
					<div class="form-group row">
						<label class="col-sm-3 control-label text-right">原密码:</label>
						<div class="col-sm-8">
							<input class="form-control" type="text" name="oldPassword"
								id="oldPassword" placeholder="请输入原密码..." />
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-3 control-label text-right">新密码:</label>
						<div class="col-sm-8">
							<input class="form-control" type="password" name="newPassword"
								id="newPassword" placeholder="请输入新密码..." />
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭
					</button>
					<button id="sumbitPass" type="button" class="btn btn-primary">提交</button>
				</div>
			</div>
		</div>
	</div>
	
	<script type="text/javascript">var path = '/bysj';</script>
	<script type="text/javascript" th:src="@{/js/index.js}"></script>
</body>
</html>